<br><br>

<div class="container mt-3">
    <h2>Available Motorbikes</h2>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Reg. Number</th>
          <th>Brand</th>
          <th>Model</th>
          <th>Category</th>
          <th>Image</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bike of motorbikes">
          <td>{{ bike.regNumber }}</td>
          <td>{{ bike.brand }}</td>
          <td>{{ bike.model }}</td>
          <td>{{ bike.category }}</td>
          <td>
           <img     [src]="'data:image/png;base64,' + bike.imageData" 
            alt="Bike Image" width="50">
            <ng-template #noImage>No image</ng-template>
          </td>
          <td>
            <button class="btn btn-primary" (click)="requestRental(bike.Id)">
              Request Rental
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <tr *ngFor="let bike of motorbikes">
    <td>{{ bike.regNumber }}</td>
    <td>{{ bike.brand }}</td>
    <td>{{ bike.model }}</td>
    <td>{{ bike.category }}</td>
    <td><img [src]="bike.imageUrl" alt="Bike Image" width="50"></td>