
<br><br>

<div class="container mt-3">
    <h2>Rental Requests</h2>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Customer</th>
          <th>Reg Number</th>
          <th>Brand</th>
          <th>Model</th>
          <th>Request Date</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let request of rentalRequests">
          <td>{{ request.userId }}</td>
          <td>{{ request.id }}</td>
          <td >{{ request?.motorbike.brand }}</td>
          <td>{{ request?.motorbike.model }}</td>
          <td>{{ request.requestDate | date:'short' }}</td>
          <td [ngClass]="{
            'text-success': request.status === 'approved',
            'text-danger': request.status === 'pending'
          }"> {{ request.status }}</td>
          <td>
            <button
              class="btn btn-success"
              *ngIf="request.status === 'pending'"
              (click)="approveRequest(request.id)">    Approve   </button>
            
              
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <!-- {
    "id": 4,
    "motorbike": null,
    "motorbikeId": 2,
    "user": null,
    "userId": 2,
    "requestDate": "2024-11-25T06:25:35.9442371Z",
    "status": "Pending",
    "approvalDate": "0001-01-01T00:00:00"
  } -->