
.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .nav-link {
    font-weight: 500;
    color: #555;
  }
  
  .nav-link.text-orange {
    color: #f57c00; /* Orange color for the active link */
  }
  
  .nav-link:hover {
    color: #f57c00;
  }
  
  .btn-dark {
    background-color: #333;
    border: none;
  }
  
  .btn-warning {
    color: #fff;
    border: none;
  }
  