


<br><br>
<div class="container">
    <h2>Customer Details </h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th> Id </th>
          <th> Username</th>
          <th> Password</th>
          <th> NIC Number</th>
          <th> Role </th>
          <th> Action </th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers">
          <td>{{ customer.id}}</td>
          <td>{{ customer.userName }}</td>
          <td>{{ customer.password }}</td>
          <td>{{ customer.nic }}</td>
          <td>{{ customer.role}}</td>
          
          <td>
            <button class="btn btn-primary"   data-bs-toggle="modal" data-bs-target="#exampleModal" >Update</button>
            <button class="btn btn-danger" (click)="onDelete(customer.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

<!--   (click)="selected=bike"  -->




