


<br><br>
<div class="container">
  <span>
    <h2>Customer Details </h2>

     <!-- Search Bar -->
     <div class="d-flex justify-content-end mt-3">
      <div class="form-group">
        <input
          type="text"
          class="form-control form-control-md"
          placeholder="Search by Customer Id, name "
          [(ngModel)]="searchTerm"
          name="search"
          (keyup)="filterCustomer()"
        />
      </div>
    </div>
</span>
<br>
<div class="table-wrapper">

    <table class="table table-bordered">
      <thead>
        <tr style=" background-color: #007bff;">
          <th> Id </th>
          <th> Username</th>
          <th> NIC Number</th>
          <th> Email </th>
          <th> Phone No </th>
          <th> Role </th>
          <th> Action </th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers">
          <td>{{ customer.id}}</td>
          <td>{{ customer.userName }}</td>
          <td>{{ customer.nic }}</td>
          <td>{{ customer.email}}</td>
          <td>{{ customer.phoneNumber}}</td>
          <td>{{ customer.role}}</td>
          
          <td>
            <!-- <button class="btn btn-primary"   data-bs-toggle="modal" data-bs-target="#exampleModal" >Update</button> -->
            <button class="btn btn-danger" (click)="onDelete(customer.id)">Delete</button>
          </td>
        </tr>
      </tbody>

    </table>
  </div>
  </div>

<!--   (click)="selected=bike"  -->




