

  
  <!-- <div class="row">
    <div *ngIf="test" class="col-md-4 mb-4">
      <div class="card" style="height: 100%; text-align: center;">

    
    <div class="card-body">
        <h5 class="card-title">{{ test.brand }} - {{ test.model }}</h5>
        <p class="card-text">
          <strong>Category:</strong> {{ test.category }}<br>
          <strong>Reg. Number:</strong> {{ test.regNumber }}
        </p>

        <label for="date"> Select Date </label>
        <input type="date" name="date" id="" formControlName="date" >

        <div class="button-container">
          <button class="btn btn-primary" (click)="requestRental(test.id)">
            Request Rental
          </button>
        </div>
      </div>

      </div>
    </div>
  </div> -->

  <div class="row">
    <div *ngIf="test" >
      <div class="card">
        <!-- Bike Info Section -->
        <div class="card-body">
          <h5 class="card-title">{{ test.brand }} - {{ test.model }}</h5>
          <p class="card-text">
            <strong>Category:</strong> {{ test.category }}<br />
            <strong>Reg. Number:</strong> {{ test.regNumber }}
          </p>
  
          <!-- Date Picker -->
          <label for="date">Select Date</label>
          <input type="date" name="date" formControlName="date" />
  
          <!-- Request Button -->
          <div class="button-container">
            <button class="btn btn-primary" (click)="requestRental(test.id)">
              Request Rental
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  