/* .container {
    max-width: 400px;
  }
  button {
    width: 100%;
  } */
  
  /* .image{
    height:auto; background-size:cover; width:auto;
    background-image:url('../../../../public/rengheson.jpg');
    background-position:50% 50%;
  } */

  /* .login-page{
    opacity: 0.9;
  } */

  .image{
    background-size:cover; 
    /* background-image:url('../../../../public/img1.jpeg'); */
    background-position:50% 50%; 
    background-color:RGB(34, 140, 220)
  }