
<br><br>
<!--      -->

<div class="container">
    <form [ formGroup]="addBikeForm" (ngSubmit)="onAddBike()">
        <div class="row">
            <div class="col-8">
                <h2 class="text-danger mt-3"> Add New Bike </h2>

                <label for="regNumber" class="form-label">Registration Number: </label>
                <input type="text" class="form-control" id="regNumber" formControlName="regNumber">

                <label for="brand" class="form-label">Brand: </label>
                <input type="text" class="form-control" id="brand" formControlName="brand">

                <label for="model" class="form-label">Model: </label>
                <input type="text" class="form-control" id="model" formControlName="model">

                <label for="category" class="form-label">Category:</label>
                <select formControlName="category" class="form-control">
                    <option value="Bike">Bike</option>
                    <option value="Sport">Sport</option>
                    <option value="Touring">Touring</option>
                </select>

                <label for="bikeImage" class="form-label">Bike Image: </label>
                <input type="file" class="form-control-file" id="bikeImage" formControlName="bikeImage" accept="image/*" > <br>

                <button type="submit" class="btn btn-primary mt-3" >Submit</button>

            </div>

           
        </div>
    </form>
</div>
