
<br><br>
<div class="container mt-3">
    <h2>My Rental Requests 02</h2>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Reg Number</th>
          <th>Brand</th>
          <th>Model</th>
          <th>Category</th>
          <th>Request Date</th>
          <th>Status</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let request of rentalRequests">
          <td>{{ request.motorbike?.regNumber || 'N/A' }}</td>
          <td>{{ request.motorbike?.brand || 'N/A' }}</td>
          <td>{{ request.motorbike?.model|| 'N/A' }}</td>
          <td>{{ request.motorbike?.category || 'N/A' }}</td>
          <td>{{ request.approvalDate | date: 'short' }}</td>
          <td>{{ request.status }}</td>
          
          

        </tr>
      </tbody>
      
    </table>
  </div>
  <!-- [ngClass]="{ 'table-success': request.status === 'approved', 'table-warning': request.status === 'pending' }" -->