
<br><br>
<div class="container mt-3">
    <h2>My Rental Requests</h2>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Reg Number</th>
          <th>Brand</th>
          <th>Model</th>
          <th>Category</th>
          <th>Request Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let request of rentalRequests"
          [ngClass]="{ 'table-success': request.Status === 'approved', 'table-warning': request.Status === 'pending' }"
        >
          <td>{{ request.regNumber }}</td>
          <td>{{ request.brand }}</td>
          <td>{{ request.model }}</td>
          <td>{{ request.category }}</td>
          <td>{{ request.requestDate | date: 'short' }}</td>
          <td>{{ request.status }}</td>


          <!-- {
            "id": 4,
            "motorbike": null,
            "motorbikeId": 2,
            "user": null,
            "userId": 2,
            "requestDate": "2024-11-25T06:25:35.9442371Z",
            "status": "Pending",
            "approvalDate": "0001-01-01T00:00:00"
          } -->
        </tr>
      </tbody>
    </table>
  </div>
  