

<!-- Manager View Bike Update Delete  -->

<br><br>
<div class="container">
    <h2>Available Motorbikes</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Reg. Number</th>
          <th>Brand</th>
          <th>Model</th>
          <th>Category</th>
          <th>Image</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bike of motorbikes">
          <td>{{ bike.regNumber }}</td>
          <td>{{ bike.brand }}</td>
          <td>{{ bike.model }}</td>
          <td>{{ bike.category }} </td>
        
          <td><img     [src]="'data:image/png;base64,' + bike.imageData" 
            alt="Bike Image" width="50"></td>
          <td>
            <button class="btn btn-primary" (click)="selected=bike"  data-bs-toggle="modal" data-bs-target="#exampleModal" >Update</button>
            <button class="btn btn-danger" (click)="onDelete(bike.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary"   >
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Update </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="selected">
        
       <app-medit-bike [bikeData]="selected"></app-medit-bike>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>