
<br><br>

<div class="container mt-3">
    <h2>Order History</h2>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Reg. Number</th>
          <th>MotorbikeID</th>
          <th>Brand</th>
          <th>Model</th>
          <th>UserId</th>
          <th>Rent Date</th>
          <th>Return Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orderHistory">
          <td>{{ order.id }}</td>
          <td>{{ order?.motorbikeId }}</td>
          <td>{{ order.brand }}</td>
          <td>{{ order.modal }}</td>
          <td>{{ order.userId}}</td>
          <td>{{ order.rentDate | date: 'short' }}</td>
          <td>{{ order.returnDate | date: 'short' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  