
<br><br>

<div class="container mt-3">
    <h2>Order History</h2>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Reg. Number</th>
          <th>MotorbikeID</th>
          <th>Brand</th>
          <th>Model</th>
          <th>UserId</th>
          <th>Rent Date</th>
          <th>Return Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orderHistory">
          <td>{{ order.id }}</td>
          <td>{{ order?.motorbikeId }}</td>
          <td>{{ order.brand }}</td>
          <td>{{ order.modal }}</td>
          <td>{{ order.userId}}</td>
          <td>{{ order.rentDate | date: 'short' }}</td>
          <td>{{ order.returnDate | date: 'short' }}</td>
        </tr>
      </tbody>
    </table>
    <br>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Report
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Month</a></li>
        <li><a class="dropdown-item" href="#">Week </a></li>
        <li><a class="dropdown-item" href="#">Day</a></li>
      </ul>
    </div>
    <br>
    <!-- <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
      Report
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">Year</a></li>
        <li><a class="dropdown-item" href="#">Month</a></li>
        <li><a class="dropdown-item" href="#">Week</a></li>
        <li><a class="dropdown-item" href="#">Day</a></li>
      </ul>
    </div> -->
  </div>
  