

/* body{
  background-image: url('/mt.webp');
  background-repeat: no-repeat;
  background-size: cover;
} */
  
.bg-color{
  background-size:cover; 
     /* background-image:url('../../../../public/img1.jpeg');  */
    /* background-position:50% 50%;  */
   
    background-color: lightblue;
    width: 100%;
    height: 100%;
     /* background-color:RGB(34, 140, 220); */

}
