
<br><br>

<div class="container mt-3">
    <h2>My Rentals</h2>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Reg. Number</th>
          <th>Brand</th>
          <th>Model</th>
          <th>Category</th>
          <th>Rent Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rental of rentals">
          <td>{{ rental.regNumber }}</td>
          <td>{{ rental.brand }}</td>
          <td>{{ rental.model }}</td>
          <td>{{ rental.category }}</td>
          <td>{{ rental.rentDate | date:'short' }}</td>
          <td>
            <button class="btn btn-danger" (click)="returnRental(rental.Id)">
              Return
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  