<br><br>

<div class="order-history">
    <h2>Order History</h2>
    <table>
      <thead>
        <tr>
          <th>Reg. Number</th>
          <th>Brand</th>
          <th>Model</th>
          <th>Rent Date</th>
          <th>Return Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orderHistory">
          <td>{{ order.RegNumber }}</td>
          <td>{{ order.Brand }}</td>
          <td>{{ order.Model }}</td>
          <td>{{ order.RentDate | date:'MM/dd/yyyy, h:mm a' }}</td>
          <td>{{ order.ReturnDate | date:'MM/dd/yyyy, h:mm a' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  