<br><br>
<div class="container">
<div class="order-history">
    <h2>Order History</h2>
    <table>
      <thead>
        <tr>
          <th>Reg. Number</th>
          <th>Brand</th>
          <th>Model</th>
          <th>Rent Date</th>
          <th>Return Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orderHistory">
          <td>{{ order.motorbike?.regNumber }}</td>
          <td>{{ order.motorbike?.brand }}</td>
          <td>{{ order.motorbike?.model }}</td>
          <td>{{ order.rentDate | date: 'MM/dd/yyyy, h:mm a' }}</td>
          <td>{{ order.returnDate ? (order.returnDate | date: 'MM/dd/yyyy, h:mm a') : 'N/A' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>